/inventory_warehouse/nbproject/private/
/inventory_warehouse/build/
/inventory_warehouse/dist/
/warehouse_inventory/nbproject/private/
/warehouse_inventory/build/
/warehouse_inventory/dist/
/warehouse_inventory/nbproject/project.properties
/warehouse_inventory/nbproject/project.properties
