/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/05/2017, 08:19:23 AM
    Author     : David Zuluaga
*/

#containerproduct{
    padding: 55px 15px 15px 855px;
}
.searchproduct{
    width: 30px;
}
